/*
 * FAQCard css File
*/

.FAQCard {
  /* propertys here */
}

.background-div {
  background-color: gray;
  padding: 15px;
  margin: 2rem 0rem;
}

.question {
  background-color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 10px;
  margin: 10px;
}

.answer {
  background-color: white;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin: 10px;
}
