.color-nav {
    background-color: #F7E173;

}

.nav-wrapper {
    margin: 0rem 3rem;
}

/* .color-text > a {
    color: black;
}

.navbar-light .navbar-nav .nav-link > a {
    color: black !important;
} */