/*
 * BlogWrite css File
*/

#card-image{
  background-image: url('http://placehold.it/75X75')
}
/*
 * BlogRead css File
*/
.overall-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80rem;
  height: 50%;
}

.card-top {
  background-color: gray;
  padding-left: 2%;
  padding-bottom: 2%;
}

.card-title-self {
  margin-top: 15%;
  width: 75%;
  height: 100px;
  font-size: 40px;
  text-align: bottom;
}

.card-subtitle-field {
  width: 15%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
}

.card-content {
  width: 100%;
  font-size: 20px;
  padding: 2%;
  border: solid gray 1px;
}
